<h4>Edit User</h4>
<label>User Name:</label>
<input [(ngModel)]="selectedUser.name ">
<br>
<label>Quote:</label>
<input [(ngModel)]="selectedUser.quote">
<br>
<label>User Bio:</label>
<br>
<textarea rows=6 [(ngModel)]="selectedUser.bio"></textarea>
<br>
<label>Favorites:</label>
<input [(ngModel)]="selectedUser.favorites">
<br>
<label>Image URL:</label>
<input [(ngModel)]="selectedUser.img">
<br>
<button class="btn btn-success"(click)="beginUpdatingUser(selectedUser)">Update</button>
<br>
<button class="btn btn-danger" (click)="beginDeletingUser(selectedUser)">Delete</button>
