
<h3>Member Information:</h3>

  <div>
    <label>User Name:</label>
    <br>
    <input #newName>
  </div>
  <div>
    <label>Bio:</label>
    <br>
    <textarea #newBio></textarea>
  </div>
  <div>
    <label>Image url</label>
    <br>
    <input #newImg>
  </div>
  <div>
    <label>Favorite Books:</label>
    <br>
    <input #newFavorites>
  </div>
  <div>
    <label>Profile Quote:</label>
    <br>
    <input #newQuote>
    <br>
  </div>
  <br>
  <button class="btn btn-success" (click)="submitUserForm(newName.value, newBio.value, newImg.value, newFavorites.value, newQuote.value); newName.value=''; newBio.value=''; newImg.value=''; newFavorites.value=''; newQuote.value=''">Add</button>
  <br>
