<h4>Edit Book</h4>

<label>Book Title:</label>
<input [(ngModel)]="selectedBook.title">
<br>
<label>Author:</label>
<input [(ngModel)]="selectedBook.author">
<br>
<label>Book Description:</label>
<br>
<textarea rows=6 [(ngModel)]="selectedBook.description"></textarea>
<br>
<label>Published Year:</label>
<input [(ngModel)]="selectedBook.published">
<br>
<label>Was it added to our global reading list?:</label>
<select [(ngModel)]="selectedBook.globalReadList">
  <option value="globalReadList">Yes</option>
  <option >No</option>
</select>
<br>
<label>Rating:</label>
<input [(ngModel)]="selectedBook.rating">
<br>
<button class="btn btn-success" (click)="UpdateBook1(selectedBook)">Update</button>
<br>
<button class="btn btn-danger" (click)="DeleteBook1(selectedBook)">Delete</button>
