
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">L33T C0D3 B00k CLUB</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>    <a class="text-muted" routerLink="admin">Admin secret link</a></li>
      <li><a routerLink="about">About LEET Coders</a></li>
      <li><a routerLink="all-books">All Books in our master list</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1><em style="text-align: center">{{title}}</em></h1>
  </div>

  <router-outlet></router-outlet>

</div>
