
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Code Club</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about">About</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>{{title}}</h1>
  </div>

  <router-outlet></router-outlet>

</div>
<br>

<hr>
<footer class="footer">
  <div class="container">
    <a routerLink="admin">Admin</a>
  </div>
</footer>
